@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #be9191;
}

.container{
    background-color: #FFF;
    width: 400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow: 7px 13px 37px rgba(0,0,0,.8);
}
header{
    width: 100%;
    background-color: blue;
    overflow:hidden;
    color: white;
}
header h1{
    font-size: 25px;
    display:block;
    text-align: center;
    padding: 2rem;
}
.form{
    padding:.8rem;
    overflow:hidden;
    color: gray;
}
.form input, .form button{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding:10px;
}
.form h2, .form h4{
    font-size: 30px;
    color: #ff165d;
    text-align: center;
}
.deleteAll-btn{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding:10px;
}
